<!DOCTYPE html>
<html lang="{{ .Site.Language }}" data-theme="dark">
  <head>
    <meta chasrset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/site_logo/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/site_logo/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/site_logo/favicon-16x16.png" />
    <link rel="manifest" href="/site_logo/site.webmanifest" />
    <title>{{ if not .IsHome}}{{ .Title | title }} | {{ end }}{{ .Site.Title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.lime.css" />
    <link rel="stylesheet" href="/css/catppuccin-latte.css" id="chromaLight" disabled />
    <link rel="stylesheet" href="/css/catppuccin-macchiato.css" id="chromaDark" disabled />
    <link rel="stylesheet" href="/css/extra.css" />
    <link rel="stylesheet" href="/css/company_title.css" />
    <link rel="stylesheet" href="/css/position.css" />

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </head>

  <body>
    <main class="container page-container">
      {{ partial "navbar.html" . }}
      <hr />
      {{ if not .IsHome }}
      <header>
        <h1 id="tag_{{ .Title }}">{{ block "title" . }} {{ .Title }}{{ end }}</h1>
        <hr />
      </header>
      {{ end }}
      <section class="content-wrap">
        {{ block "main" . }} {{ .Content }} {{ end }} {{ if .Param "nextprev" }}{{ partial "nextprev.html" .
        }} {{ end }} {{ if .Param "taglist" }}{{ partial "taglist.html" . }} {{ end }}
      </section>
      {{ partial "footer.html" . }}
    </main>
    <script src="/js/theme-switcher.js"></script>
    <script src="/js/scroller.js"></script>
    <script src="/js/copy-code.js"></script>
  </body>
</html>
