{{ define "title" }}
{{ .Title }}
{{ end }}
{{ define "main" }}
<div class="article-grid container">
    {{ with .Resources.GetMatch "thumbnail.*" }}
        <div class="thumbnail-container">
            <img class="thumbnail-img" src="{{ .RelPermalink }}" alt="Thumbnail for {{ $.Title }}">
        </div>
    {{ end }}
    <div class="text-container">
        {{ .Content }}
    </div>
    <div class="toc-container">
        <aside class="toc">
            {{ .TableOfContents }}
        </aside>
    </div>
</div>
{{ end }}