.page-container {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex-grow: 1;
}

/* Nav bar */
nav img {
    width: 4rem;
}

nav a {
    font-size: larger;
}

#toggle-theme::before {
    display: none;
}

#toggle-theme {
    margin-right: calc(var(--pico-nav-link-spacing-horizontal)*2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sun-icon,
#moon-icon {
    width: 1.5rem;
    cursor: pointer;
}

/* Footer */
.footer-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-content .left-text {
    justify-self: start;
}

.footer-content .links {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

.footer-content svg {
    height: 2rem;
}

.footer-content .right-text {
    justify-self: end;
}

.grey-text {
    color: var(--pico-muted-color)
}

@media (max-width: 1023px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.3rem;
    }

    .footer-content .left-text {
        order: 1;
        margin-top: 0.5rem;
    }

    .footer-content .right-text {
        display: none;
    }

    .grey-text {
        display: none;
    }
}

/* list.html */
.article-links {
    display: flex;
    flex-direction: column;
    gap: var(--pico-block-spacing-vertical);
}

.article-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-link img {
    border-radius: var(--pico-border-radius);
}

.article-link .thumbnail {
    width: 30%;
}

.article-link .text {
    width: 65%;
}

.article-link a {
    text-decoration: none;
}

@media (max-width: 1023px) {
    .article-link {
        flex-direction: column;
        /* align-items: center; */
    }

    .article-link .thumbnail {
        width: 100%;
        margin-bottom: 1rem;
    }

    .article-link .text {
        width: 100%;
    }
}

/* Home page */
.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page-container img {
    border-radius: 50%;
    width: 40%;
    margin: 20px;
    min-width: 15rem;
}

.main-title {
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 0.4rem;
}

.subtitle {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--pico-muted-color);
}

.home-content {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    width: 75%;
}

/* single.html */
.article-grid {
    display: grid;
}

.thumbnail-img {
    border-radius: var(--pico-border-radius);
}

.toc li ul {
    padding-left: 1rem;
    font-size: smaller;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (min-width: 1024px) {
    .article-grid {
        grid-template-columns: 75% 25%;
        grid-template-areas:
            "thumbnail toc"
            "thetext toc";
        gap: var(--pico-block-spacing-vertical);
    }

    .thumbnail-container {
        grid-area: thumbnail;
    }

    .toc-container {
        grid-area: toc;
    }

    .text-container {
        grid-area: thetext;
    }

    .toc {
        position: sticky;
        top: 15vh;
        border-left: 1px solid var(--pico-muted-color);
        padding-left: 1rem;
    }
}


@media (max-width: 1023px) {
    .article-grid {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "thumbnail"
            "toc"
            "thetext";
        gap: calc(var(--pico-block-spacing-vertical)*2);
    }

    .thumbnail-container {
        grid-area: thumbnail;
    }

    .toc-container {
        grid-area: toc;
    }

    .text-container {
        grid-area: thetext;
    }

    .toc {
        position: relative;
        border-left: none;
        border-top: 1px solid var(--pico-muted-color);
        border-bottom: 1px solid var(--pico-muted-color);
    }
}